@import './colors.scss';
// BUTTONS
.btn {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  
  &.btn-primary {
    background: $green;
  }

  &.btn-transparent {
    background: transparent;
  }

  &.btn-icon {
    svg {
      color: $color-icon;
    }
  }

  &.active {
    svg {
      color: $color-icon-active;
    }
  }
}